﻿@model M2Link.Models.ProfileModel

@{
    ViewBag.Title = "Index";
}

<h2>Profil Utilisateur</h2>

<div>
    <hr />
    <h3>Informations de l'utilisateur</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickname)
        </dd>
    </dl>

    <h3>Messages envoyés</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Message
            </th>
            <th></th>
        </tr>

        @if (Model.messages.Count() == 0)
        {
            <tr><td>Aucun message envoyé</td></tr>
        }
        else
        {
            foreach (var item in Model.messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.message)
                    </td>
                    <td class="fit-content">
                        @Html.ActionLink("Supprimer", "Delete", "Message", item, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        }
    </table>

    <h3>Utilisateurs suivis</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Utilisateur
            </th>
            <th></th>
        </tr>

        @if (Model.messages.Count() == 0)
        {
            <tr><td>Aucun utilisateurs suivis</td></tr>
        }
        else
        {
            foreach (var item in Model.followed_users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item)
                    </td>
                    <td class="fit-content">
                        <a href="@Url.Action("Unfollow" , "Profile", new { nickname= item, source =Url.Action()})" class="btn btn-sm btn-default">Ne plus suivre</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Editer le profil", "Edit", null, new { @class = "btn btn-sm btn-default" }) @Html.ActionLink("Changer le mot de passe", "ChangePassword", null, new { @class = "btn btn-sm btn-default" })
</p>
