﻿@{
    ViewBag.Title = "A propos";
}

<div class="jumbotron">
    <h1>Projet .NET</h1>
    <p class="lead">Ce site web a été conçu pendant les scéances de TP de .NET</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Scéance de TP 1</h2>
        <p>
            Dans un premier temps, l'application permettait l'inscription, la connexion / deconnexion d'un utilisateur en utilisant un tableau d'utilisateur comme base de donnée.
            Cet utilisateur pouvait éditer son profil et accéder à une liste des utilisateurs de l'application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Scéance de TP 2</h2>
        <p>
            Ensuite, nous avons crée une "vraie" base de données SQL Express permettant de stocker nos utilisateurs.
            La gestion d'envoi de message et de suivis d'utilisateur a été ajouté, par la suite, en utilisant aussi cette base de données.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Scéance de TP 3</h2>
        <p>
            ...
        </p>
    </div>
</div>